{% extends 'base.html.twig' %}
{% block title %}Liste film{% endblock %}
{% block body %}
	<style>
		.flexbox-container {
			display: -ms-flex;
			display: -webkit-flex;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-start;
			align-items: stretch;
			width: 75%;
		}

		img {
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
		}

		.box-movie{
			width: 400px;
			margin-bottom: 25px;

		}
		
		.titrefilm{
			margin-top : 15px;
			height : 55px;
		}

		.description {
			border: 1px solid black;
			width : 350px;
		}
		a {
			text-decoration: none;

		}
	</style>
	<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary">
		{% block monTitre %}
			Films
		{% endblock %}
	</h1>
	<center>
		<div class="flexbox-container">
			{% for film in films %}
				<div class="box-movie">
					<a href="/film/{{film.id}}"><img style="width:200px;" src="{{ asset('images/films/' ~ film.image) }}"></a><br>
					
					<h4 class="titrefilm">{{ film.titre }}</h4>
					<div>Genre : {{ film.genre.nom }}</div>
					<div>Date : {{ film.date | date('d/m/Y')}}, Durée : {{ film.duree }}</div>

					<p>De : <a href="/director/{{film.director.id}}">{{film.director.prenom}} {{film.director.nom}}</a></p>
					<p>Acteurs : 
						{% for actor in film.acteurs %}
							<a href="/actor/{{actor.id}}">{{actor.prenom}} {{actor.nom}}</a>,
						{% endfor %}
					</p>
					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{film.id}}" aria-expanded="false" aria-controls="collapseOne">
								Résumé
								</button>
							</h2>
							<div id="collapse{{film.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
							<div class="accordion-body">
								<strong>Résumé</strong>  {{ film.description }}
							</div>
							</div>
						</div>
					</div>
					<a href="/modiffilm/{{film.id}}">
						<button href=" type="button" class="btn btn-primary btn-lg">Modifier</button>
					</a>					  
					<a href="/film/{{film.id}}">
						<button href=" type="button" class="btn btn-primary btn-lg">Plus d'info</button>
					</a>
				</div>
			{% endfor %}
		</div>
	</center>
{% endblock %}
