{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs
{% endblock %}


{% block body %}
	<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary">
		{{ actor.prenom }} - {{ actor.nom }}
	</h1>
	<style>
		.flexbox-container {
			display: -ms-flex;
			display: -webkit-flex;
			display: flex;			
			flex-direction: row;			
			align-items: stretch;
			width: 25%;
		}

		.flexbox-container > div {
			
		}
	</style>

	<center>
			<div>
				<img style="width:100px;" src="{{ actor.image }}"><br>
			</div>
			<div class="flexbox-container">
				<p>
					{% for film in actor.films %}
						<div>
							<div><img style="width:50px;" src="{{ asset('images/films/' ~ film.image) }}"></div>
							<p>{{film.titre}}</p>
						</div>
					{% endfor %}
				</p>
			</div>
	</center>
{% endblock %}

