{% extends 'base.html.twig' %}

{% block title %}Réalisateur
{% endblock %}


{% block body %}
	<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary">
		{{ director.prenom }} - {{ director.nom }}
	</h1>
	<style>
		.flexbox-container {
			display: -ms-flex;
			display: -webkit-flex;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: start;
			align-items: stretch;
			width: 25%;
		}

		.flexbox-container > div {
			width: 10%;
			margin: 0 10px;
			flex: 10;
			padding: 10px;
		}
	</style>

	<center>
			<div>
				<img style="width:100px;" src="{{ director.image }}"><br>
			</div>
			<div class="flexbox-container">				
				<p>
					{% for film in director.films %}
						<div>
							<div><img style="width:50px;" src="{{ asset('images/films/' ~ film.image) }}"></div>
							<p>{{film.titre}}</p>
						</div>
					{% endfor %}
				</p>
			</div>
	</center>
{% endblock %}

